{% extends 'layouts/base2.html' %}
{% block content %}
    <h1>
About
</h1>
    <br>
    <div class="about-us">
        <p>
            DirectCarers is a web-app created to get people in need of assistance at home in contact with prospective caregivers. DirectCarers
            utilizes your district code in order to match you with caregivers willing to work in your area.
            Caregivers are selected by your local council after having been vetted through a sign up request, police check, and interview.
            <br>
            <br>
            Through this service you can find caregivers willing to help you with chores such as:
            <br>
            - Preparing meals
            <br>
            - Food shopping
            <br>
            - Taking medicine
            <br>
            - Personal care
            <br>
            - Household chores
            <br>
            &emsp; &emsp; &emsp;- Light cleaning
            <br>
            &emsp; &emsp; &emsp;- Taking out trash
            <br>
            &emsp; &emsp; &emsp;- Laundry
            <br>
        </p>
    </div>
    <div class="caregiver-smiling-image">
        <img width="470" height="300" src="/static/images/jpeg/caregiver-smiling-with-client.jpeg">
    </div>
    <br>
    <br>
    <br>
{% endblock %}